.div-canteiner-pago {
  padding: 5%;
  .div-formas-de-pago {
    padding: 1%;
    border: solid px gray;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    box-shadow: 0px 10px 10px -6px grey;
    div {
      padding: 10%;
    }
    .otros-metodos {
      display: flex;
      img {
        width: 70%;
      }
    }
    p {
      color: #3483f4;
    }
  }
}

.div-ofertas {
  display: flex;
  justify-content: center;
  color: grey;
  .ofertas-mini {
    margin: 1% 0% 0% 0.5%;
    color: #3483f4;
    a {
      text-decoration: none;
    }
  }
}

.card-all {
  padding: 5%;
  display: flex;
  justify-content: center;
  justify-content: space-around;

  .card {
    box-shadow: 0px 10px 10px -6px grey;
    del {
      color: grey;
    }
    .descuento {
      color: #00a650;
    }
    #descuento {
      margin: 0% 0% 0% 3%;
      color: #00a650;
    }
  }
}
